<!-- Dashboard Recent Activity partial. -->
<h4>Recent Activity</h4>

<hr />

<div class="col-md-10">
  <% @activities.each do |activity| %>
    <% if activity.trackable %>
      <%= render_activity activity %>
      <hr />
    <% end %>
  <% end %>
</div>