<h1>QuestionFair.com Users</h1>

<ul>
  <% for user in @users %>
    <li>
      <%= user.nickname %>
      <%= link_to "View", user_path(user) %>
      <%= link_to "Add Friend", friendships_path(friend_id: user), method: :post %>
    </li>
  <% end %>
</ul>

