<div class="row"> 
    
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="panel-title">Answer this question...</h3>
        </div>

        <div class="panel-body">

          <%= render partial: "layouts/form_errors", object: @answer %>

          <%= form_for([@question, @answer]) do |form| %>
            <div class="form-group">
              <%= form.text_area :answer,  class: "form-control", rows: "3", 
                placeholder: "Write your answer here." %>
            </div>

            <div class="form-group">
              <%= form.submit "Answer", class: "btn btn-primary" %>
            </div>
          <% end %>

        </div>

      </div>

</div>
