<!-- Renders Answers form. -->
<div class="col-md-offset-1 col-sm-8">
  <%= render 'form' %>
  <%= button_to question_path(id: params[:question_id]), method: :get, class: "btn btn-default text-right" do %>
    <span class="glyphicon glyphicon-chevron-left"></span> Back
  <% end %>
</div>