<div class="col-md-7 col-md-offset-2">
  <h3>About QuestionFair.com</h3>

  <p>Welcome to the beta version of QuestionFair.com!</p>

  <p>QuestionFair.com is designed to be a fun and easy way to get answers to questions.  Questions and answers are meant to be short, such as restaurant recommendations or where to stay on vacation.  You can get the most out of the site by inviting your friends to join and by sharing your questions and answers on Facebook.</p>

  <p>The "Dashboard" is the central location where you can view all of your activity on the site.  You can view your questions and answers, manage your friendships, and see your friends' recent activity.</p>

  <p>Looking for questions to answer?  The "Browse" section is the best place to start.  You can search for questions by keyword, category, and by location.</p>

  <p>Have a question you'd like to ask?  Just click "Ask a Question."</p> 

  <p>And don't forget about the points!</p>

  <p>You can earn points by:</p>
  <ul>
    <li>Asking a Question - 10 Points</li>
    <li>Answering a Question - 10 Points</li>
    <li>Voting on an Answer -  5 Points</li>
    <li>Inviting a Friend to Join - 5 Points</li>
    <li>Requesting a Friendship - 5</li>
    <li>Confirming a Friendship - 5</li>
  </ul>


  <p>You can earn extra points when the best answer to a question is chosen:</p>
  <ul>
    <li>Providing the Best Answer - 15 Points</li>
    <li>Selecting the Best Answer - 5 Points</li>
    <li>Voting on the Best Answer - 5 Points</li>
  </ul>

  <p>What do the points get you?  The respect and admiration of your friends as you become the top points scorer!</p>

  <p>Users of QuestionFair.com are expected to be respectful and encouraging of others.  Inappropriate content will not be tolerated.  If you see anything that you think doesn't belong on the website, please report it to us using link below.</p>

  <p>If you have any questions or suggestions about QuestionFair.com, please <%= link_to "Contact Us", contact_path %>.</p>

  <p class="text-right">Sincerely,</p>
  <p class="text-right">Scott</p>

</div>




