<div class="col-md-6 col-md-offset-2">
  <h3>About QuestionFair.com</h3>
  <p>Welcome to QuestionFair.com</p>
  <p></p>
  <p>Thank you for visiting the website.  I hope that you enjoy it!</p>
  <p class="text-right">Scott</p>
</div>