<% flash.each do |name, msg| %>
  <% flash_type = bootstrap_class_for(name) %>
  <div class="row">
    <div class="col-md-12">
      <%= tag :div, class: "#{flash_type}", role: "#{name}" %>
        
        <%= content_tag :div, msg, id: "flash_#{name}" %>
        
      </div>
    </div>
  </div>
<% end %>