<% if form_errors.errors.any? %>
  <% form_errors.errors.full_messages.each do |message| %>

    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <%= message %>
    </div>

  <% end %>

  <hr />

<% end %> 

