<div class="media">
  <div class="media-left">
    <%= image_tag(gravatar_url(activity.owner), size: "48x48", alt: "Gravatar", class: "media-object") %>
  </div>
  <div class="media-body">
    <p><strong><%= activity.owner.nickname.capitalize %> asked a question <%= time_ago_in_words(activity.created_at, include_seconds: false) %> ago.</strong></p>
    <p>Question: <%= link_to activity.trackable.question, activity.trackable %></p>
  </div>
</div>